@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p> Contact us</p>
<address>
    <b>Email address:</b>
    <a href="Email address: justfortrail@gmail.com">justfortrail@gmail.com </a><br />
    <b>Telephone:</b>
   <a href="Tel: +1234567890">(123)456-7890 </a>
</address>
