@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> This is your Login Page</h1>
<label> Username :</label>
<input type = "text" placeholder="Enter Username" name="username"required>
<label> Password :</label>
<input type = "password" placeholder="Enter Password" name="password"required>
<button type = "Submit">login</button>
